$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$transiction_color: #bbb;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #eee;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.show {
  display: block;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid;
  border-right-color: $transiction_color;
  bottom: -5px;
  position: absolute;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  border-left-color: $transiction_color;
  top: -5px;
  position: absolute;
  left: 12px;
}

.up-down {
  @extend .glyphicon;
}

.down {
  @extend .glyphicon-chevron-down;
}

.up {
  @extend .glyphicon-chevron-up;
}

.add {
  @extend .glyphicon;
  @extend .glyphicon-plus-sign;
}


.workflow {

  .section-title {
    border-bottom: 1px solid #B4B4B4;
    width: 344px;
    padding-top: 10px;
    color: #9B9B9B;
    font-size: 0.9em;
    cursor: pointer;

    > .up-down {
      font-size: 0.8em;
    }

    > .add {
      font-size: 0.9em;
      color: green;
    }
  }

  .section-content {
    padding-top: 10px;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  z-index: 100;
  ul {
    padding-left: 51px;
    position: relative;
    left: -29px;
  }
  ul > li {
    list-style-type: none;
    width: 267px;
  }

  .workflow-item {
    padding-bottom: 4px;
    overflow: hidden;
    > div {
      background-color: #f6f6f6;
      background-repeat: no-repeat;
      border: 1px solid #dadada;
    }
  }


  .step {
    background-image: url(../images/step.png);
    background-position: left 10px top 8px;

    padding: 5px 0  5px 33px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    float: left;
    clear: both;
    width: 220px;

    a {
      font-size: 10px;
      float: right;
      padding: 5px 20px;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .actions {
    display: none;
    li {
      width: 250px;
    }
    .sub-item {
      @extend .step;
      background-image: url(../images/action.png);
    }
  }

  .actions-items {
    @extend .actions;
    li {
      width: 250px;
    }
  }

  .items {
    @extend .actions;
    li {
      width: 250px;
    }
    .leaf {
      @extend .step;
      background-image: url(../images/leaf.png);
      background-position: left 10px top 11px;
    }
  }

  .features {

    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: right;

    // background-image: url(../images/list.png);

    background-position: left 5px top 8px;
    height: 31px;
    padding: 6px 5px 0 5px;

    .add {
      color: green;
    }
  }
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

.container {
  overflow-y: auto;
  height: 600px;
  width: 750px;
  display: table;
}

.workflow-menu {
  display: table-cell;
  width: 420px;
}

.workflow-details {
  display: table-cell;
}

.connection {
  width: 17px;
  position: relative;
  border: 1px dashed $transiction_color;
  float: left;
}

.connection-left {
  border-right: 0;
}

.connection-right {
  border-left: 0;
}

