$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "sass-bootstrap/lib/bootstrap";

$transiction_color: #bbbbbb;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #fff;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid;
  border-right-color: $transiction_color;
  bottom: -5px;
  position: absolute;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid;
  border-left-color: $transiction_color;
  top: -5px;
  position: absolute;
  left: 12px;
}

.up-down {
  @extend .glyphicon;
}

.down {
  @extend .glyphicon-chevron-down;
}

.up {
  @extend .glyphicon-chevron-up;
}

.add {
  @extend .glyphicon;
  @extend .glyphicon-plus-sign;
  color: green;
  cursor: pointer;
}

.remove-icon {
  @extend .glyphicon;
  @extend .glyphicon-minus-sign;
  color: red;
}

.workflow {
  .transition-link {
    @extend .glyphicon;
    @extend .glyphicon-arrow-right;
    font-size: 0.67em;

    height: 15px;
    background: black;
    color: #eee;
    padding-top: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px; border-bottom-right-radius: 3px;


    > div {
      background: green;
      color: white;
      display: inline-block;
      height: 15px;
      padding-top: 1px;
      padding-right: 3px;
      padding-left: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
  }
  .section-title {
    border-bottom: 1px dashed #B4B4B4;
    width: 344px;
    padding-top: 10px;
    color: #9B9B9B;
    font-size: 0.9em;
    cursor: pointer;
    > .up-down {
      font-size: 0.8em;
    }
    > .add {
      font-size: 0.9em;
    }
  }
  .section-content {
    padding-top: 10px;
  }
  a {
    text-decoration: none;
    cursor: pointer;
  }
  z-index: 100;
  ul {
    padding-left: 51px;
    position: relative;
    left: -42px;
  }
  ul > li {
    list-style-type: none;
    width: 276px;
  }
  .workflow-item {
    padding-bottom: 4px;
    overflow: hidden;
    > div {
      background-color: #f6f6f6;
      background-repeat: no-repeat;
      border: 1px solid #dadada;
      font-size: 0.85em;
    }
  }
  .step {
    background-image: url(../images/step.png);
    background-position: left 10px top 8px;
    padding: 5px 0  5px 33px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    float: left;
    clear: both;
    width: 220px;
    a {
      float: right;
      padding: 5px 20px;
      text-decoration: none;
      cursor: pointer;
    }
  }
  .actions {
    display: none;
    li {
      width: 276px;
    }
    .sub-item {
      @extend .step;
      background-image: url(../images/action.png);
    }
  }
  .actions-items {
    @extend .actions;
    li {
      width: 276px;
    }
  }
  .items {
    @extend .actions;
    li {
      width: 261px;
    }
    .leaf {
      @extend .step;
      background-image: url(../images/leaf.png);
      background-position: left 10px top 11px;
      height: 34px;
    }
  }
  .features {
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    float: left;
    // background-image: url(../images/list.png);
    background-position: left 5px top 8px;
    height: 34px;
    padding: 9px 5px 0 5px;
    margin-left: 1px;
    .add {
      color: green;
    }
  }
}

h3 {
  font-size: 1em;
  font-weight: bold;
}

.container {
  overflow-y: auto;
  height: 600px;
  width: 1000px;
  display: table;
}

.workflow-menu {
  display: table-cell;
  width: 400px;
}

.workflow-details {
  display: table-cell;
  font-size: 0.85em;
}

.connection {
  width: 17px;
  position: relative;
  border: 1px dashed $transiction_color;
  float: left;
}

.connection-left {
  border-right: 0;
}

.connection-right {
  border-left: 0;
}

.my-show-hide-animation.ng-hide-add,
.my-show-hide-animation.ng-hide-remove {
  -webkit-transition: 500ms all;
  -moz-transition: 500ms all;
  -ms-transition: 500ms all;
  -o-transition: 500ms all;
  transition: 500ms all;
  // -webkit-transform: 400ms scaleY(1);
  // -moz-transform: 400ms scaleY(1);
  // -ms-transform: 400ms scaleY(1);
  // -o-transform: 400ms scaleY(1);
  // transform: 400ms scaleY(1);
  height: 270px;
  // opacity: 1;
  position: relative;
  display: block;
}

.my-show-hide-animation.ng-hide {
  opacity: 0;
}

.list-animation-enter {
  -webkit-animation: enter 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: enter 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  display: block;
  position: relative;
}

/*******************************
  ATRIBUTES
 *******************************/
.attributes {
  width: 295px;
  th:first-child {
    width: 140px;
  }

  th > input {
    width: 130px;
  }

  th > a {
    cursor: pointer;
  }
}

/*******************************
  SHOW STEP
 *******************************/
.show-step {
  padding-left: 10px;
  border-left: 3px solid #31A8E4;

  label {
    color: #A5B2B4;
    font-weight: normal;
  }

  &.show-action {
    border-left-color: #FFC107;
  }

  &.show-next-step {
    border-left-color: #4CAF50;
  }
}

@-webkit-keyframes enter {
  from {
    opacity: 0;
    height: 0px;
  }
  20% {
    opacity: .5;
  }
  40% {
    opacity: .15;
    color: red;
  }
  60% {
    opacity: .75;
  }
  80% {
    opacity: .3;
  }
  to {
    opacity: 1;
    height: 30px;
  }
}


@keyframes enter {
  from {
    opacity: 0;
    height: 0px;
  }
  20% {
    opacity: .5;
  }
  40% {
    opacity: .15;
    color: red;
  }
  60% {
    opacity: .75;
  }
  80% {
    opacity: .3;
  }
  to {
    opacity: 1;
    height: 30px;
  }
}


.list-animation-leave {
  -webkit-animation: leave 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  animation: leave 600ms cubic-bezier(0.39, 0.575, 0.565, 1);
  display: block;
  position: relative;
}

@-webkit-keyframes leave {
  to {
    opacity: 0;
    height: 0px;
  }
  80% {
    opacity: .25;
  }
  60% {
    opacity: .10;
    color: red;
  }
  40% {
    opacity: .5;
  }
  20% {
    opacity: .30;
  }
  from {
    opacity: 1;
    height: 30px;
  }
}


@keyframes leave {
  to {
    opacity: 0;
    height: 0px;
  }
  80% {
    opacity: .25;
  }
  60% {
    opacity: .10;
    color: red;
  }
  40% {
    opacity: .5;
  }
  20% {
    opacity: .30;
  }
  from {
    opacity: 1;
    height: 30px;
  }
}


