
<div class="workflow-item">
    <div class="sub-item" ng-click="action.show = !action.show">{{action.name}}
        <a class="glyphicon glyphicon-chevron-down"></a>
    </div>
    <div class="features">
        <a class="glyphicon glyphicon-th-list" alt="Configuração" title="Configuração" ng-click="showAction(action)"></a>
        <a class="add glyphicon glyphicon-plus-sign" ng-click="addActionItem(action)" alt="Adicionar Action" title="Adicionar Action" ></a>
        <a class="remove-icon" alt="Configuração" title="Configuração" ng-click="removeAction(action)" ng-hide="action.notRemovable"></a>
    </div>
</div>

<ul class="actions-items" ng-class="{show: action.show}">
    <li ng-repeat="actionItem in action.actionItems" ng-class="{hide: actionItem.items.length == 0 && !actionItem.hasConfig}">
        <div>
            <div class="workflow-item">
                <div class="sub-item" ng-click="actionItem.show = !actionItem.show">{{actionItem.name}}
                    <a class="glyphicon glyphicon-chevron-down"></a>
                </div>
                <div class="features">
                    <a class="glyphicon glyphicon-th-list" alt="Configuração" title="Configuração" ng-click="showActionItem(actionItem, action)" ng-show="actionItem.hasConfig"></a>
                    <a class="add glyphicon glyphicon-plus-sign" alt="Adicionar Item" title="Adicionar Item" ng-click="addItem(actionItem, action)" ng-hide="actionItem.noAdd"></a>
                </div>
            </div>
            <ul class="items" ng-class="{show: actionItem.show}">
                <li ng-repeat="item in actionItem.items" ng-show="showSubItems(item)">
                    <div>
                        <div class="workflow-item">
                            <div ng-class="{'sub-item': hasSubItems(item), 'leaf': !hasSubItems(item)}" ng-click="item.show = !item.show">{{item.name}}
                                <a class="glyphicon glyphicon-chevron-down" ng-show="hasSubItems(item)"></a>
                            </div>
                            <div class="features">
                                <a class="glyphicon glyphicon-th-list" alt="Configuração" title="Configuração" ng-click="showItem(item, action)" ng-hide="hasSubItems(item)"></a>
                                <a class="remove-icon" alt="Remover Item" title="Remover Item" ng-click="removeItem(item, actionItem.items)" ng-hide="item.notRemovable"></a>
                            </div>
                        </div>
                    </div>
                    <ul class="items" ng-class="{show: item.show}">
                        <li ng-repeat="subitem in item.items">
                            <div>
                                <div class="workflow-item">
                                    <div class="leaf">{{subitem.name}}
                                    </div>
                                    <div class="features">
                                        <a class="glyphicon glyphicon-th-list" alt="Configuração" title="Configuração" ng-click="showItem(item, action)"></a>
                                        <a class="remove-icon" alt="Remover Item" title="Remover Item" ng-click="removeItem(item, actionItem.items)" ng-hide="item.notRemovable"></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </li>
</ul>
