
<div class="workflow-item">
    <div class="sub-item" ng-click="action.show = !action.show">{{action.name}}
        <a class="glyphicon glyphicon-chevron-down"></a>
    </div>
    <div class="features">
        <a class="glyphicon glyphicon-th-list" alt="Configuração" title="Configuração" ng-click="showAction(action)"></a>
        <a class="add glyphicon glyphicon-plus-sign" ng-click="addActionItem(action)" alt="Adicionar Action" title="Adicionar Action" ></a>
        <a class="remove-icon" alt="Configuração" title="Configuração" ng-click="removeAction(action)" ng-hide="action.notRemovable"></a>
    </div>
</div>

<ul class="actions-items" ng-class="{show: action.show}">
    <li ng-repeat="actionItem in action.actionItems" ng-class="{hide: actionItem.items.length == 0}">
        <div>
            <div class="workflow-item">
                <div class="sub-item" ng-click="actionItem.show = !actionItem.show">{{actionItem.name}}
                    <a class="glyphicon glyphicon-chevron-down"></a>
                </div>
                <div class="features">
                    <a class="add glyphicon glyphicon-plus-sign" alt="Adicionar Item" title="Adicionar Item" ng-click="addItem(actionItem, action)" ng-hide="actionItem.noAdd"></a>
                </div>
            </div>
            <ul class="items" ng-class="{show: actionItem.show}">
                <li ng-repeat="item in actionItem.items">
                    <div>
                        <div class="workflow-item">
                            <div class="leaf">{{item.name}}
                            </div>
                            <div class="features">
                                <a class="glyphicon glyphicon-th-list" alt="Configuração" title="Configuração" ng-click="showItem(item)"></a>
                                <a class="remove-icon" alt="Remover Item" title="Remover Item" ng-click="removeItem(item, actionItem.items)" ng-hide="item.notRemovable"></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>

<div class="modal fade" id="addActionItem" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" ng-controller="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel">Add Action Item</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Type</label>
          <select class="form-control" ng-model="newItem.type">
            <option value="pre-function">Pre-Function</option>
            <option value="post-function">Post-Function</option>
            <option value="validator">Validator</option>
            <option value="condition">Condition</option>
            <option value="result">Result</option>
            <option value="conditionresult">Condition Result</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Name</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name" ng-model="newItem.name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="addItem(newItem, action)">Add</button>
      </div>
    </div>
  </div>
</div>
