<!-- <div workflow-restriction restriction="workflow.currentItem.restriction"></div> -->
<div class="form-group">
  <label for="name">Type: </label>
  <input name="condition-type" type="radio"> And <input id="condition-type" type="radio"> Or<br/>
</div>
<div class="form-group">
  <button class="form-control">Add</button><br/>
</div>
<div class="form-group">
  <label>Condition 1: </label>
  <select class="form-control">
    <option value="">Choose type</option>
    <option value="">Class</option>
    <option value="">Script</option>
  </select>
</div>
<div class="form-group">
  <label>Arg1: </label>
  <select name="" id="" class="form-control">
    <option value="">Select option</option>
    <option value="">Option 1</option>
  </select>
</div>
<div class="form-group">
  <label for="">Arg2: </label>
  <input type="text" class="form-control">
</div>
