<div class="workflow-menu">
  <h3>Workflow: {{workflow.name}}
    <a class="glyphicon glyphicon-th-list" alt="Configuração" title="Configuração" ng-click="showWorkflow()"></a>
  </h3>
  <div>
    <div class="workflow">
      <div class="section-title">
        <a class="up-down" ng-class="{down: !sections.initialActions.show, up: sections.initialActions.show}" ng-click="showHide('initialActions')"></a>  <span ng-click="showHide('initialActions')">Initial Actions</span> <a class="add" alt="Adicionar Action" title="Adicionar Action" ng-click="addInitialAction()"></a>
      </div>
      <div initial-actions ng-show="sections.initialActions.show" class="section-content"></div>
      <div class="section-title">
        <a class="up-down" ng-class="{down: !sections.steps.show, up: sections.steps.show}" ng-click="showHide('steps')"></a> <span ng-click="showHide('steps')">Steps</span> <a class="add" alt="Adicionar Action" title="Adicionar Steps" ng-click="addStep()"></a>
      </div>
      <div steps ng-show="sections.steps.show" class="section-content"></div>
      <!--<div>
        <div workflow-transiction></div>
      </div> -->
      <div class="section-title">
        <a class="up-down" ng-class="{down: !sections.splits.show, up: sections.splits.show}" ng-click="showHide('splits')"></a> <span ng-click="showHide('splits')">Splits</span> <a class="add" alt="Adicionar Action" title="Adicionar Action" ></a>
      </div>
      <div class="section-title">
        <a class="up-down" ng-class="{down: !sections.joins.show, up: sections.joins.show}" ng-click="showHide('joins')"></a> <span ng-click="showHide('joins')">Joins</span> <a class="add" alt="Adicionar Action" title="Adicionar Action" ></a>
      </div>
    </div>
  </div>
</div>
<div class="workflow-details" ng-include="workflow.template.url">
</div>

<div add-action></div>
