<div class="workflow-item" step-id="{{step.id}}">
  <div class="step" ng-click="step.show = !step.show">{{step.name}}
    <a class="glyphicon glyphicon-chevron-down"></a>
  </div>
  <div class="features">
    <a class="glyphicon glyphicon-th-list" alt="Configuração" title="Configuração" ng-click="showStep(step)"></a>
    <a class="add glyphicon glyphicon-plus-sign" ng-click="addAction(step, currentAction, template)" alt="Adicionar Action" title="Adicionar Action" ></a>
    <a class="remove-icon" alt="Remover Step" title="Remover Step" ng-click="removeStep(step)"></a>
  </div>
</div>
<!-- <div class="transition-link"><div>Cancelado</div></div> -->
<ul class="actions" ng-class="{show: step.show}">
  <li ng-repeat="action in step.actions">
    <div action="action" workflow="workflow" actionarray="step.actions"></div>
  </li>
</ul>
