<h3>Condition Details</h3>

<div class="clause">
  <div class="title" ng-click="openArguments()" data-toggle="popover">Scope</div>
  <button class="clause-type" ng-click="addAndClause(clause)">AND</button>
  <button class="clause-type" ng-click="addOrClause(clause)">OR</button>
  <div class="clause-container">
    <div subclause ng-repeat="clause in clause.clauses"></div>
  </div>
</div>

<div class="popover top">
  <div ng-click="addClauseArgument()">Add</div>
	<table class="attributes">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="argument in currentClause.arguments">
          <th><input type="text" ng-model="argument.name"> : </th>
          <th> <input type="text" ng-model="argumente.value"></th>
          <th><a class="remove-icon" ng-click="removeClauseArgument(argument)" alt="Remover" title="Remover"></a></th>
        </tr>
      </tbody>
    </table>
</div>
