<div class="clause">
  <div class="title" ng-click="openArguments()" data-toggle="popover">Scope</div>
  <button class="clause-type" ng-click="addAndClause(clause)">AND</button>
  <button class="clause-type" ng-click="addOrClause(clause)">OR</button>
  <div class="clause-container">
    <div subclause ng-repeat="clause in clause.clauses"></div>
  </div>
</div>
<!-- <div class="clause">
  <div class="title" ng-click="openArguments()" data-toggle="popover">Scope</div>
  <button class="clause-type">AND</button>
  <button class="clause-type">OR</button>
  <div class="clause-container">
    <div class="subclause">
      <div class="clause-sep"></div>
      <div class="title title-and">AND</div>
      <button class="clause-type">AND</button>
      <button class="clause-type">OR</button>
    </div>
    <div class="subclause">
      <div class="clause-sep"></div>
      <div class="title title-or">OR</div>
      <button class="clause-type">AND</button>
      <button class="clause-type">OR</button>
      <div class="clause-container">
        <div class="subclause">
          <div class="clause-sep"></div>
          <div class="title title-and">AND</div>
          <button class="clause-type">AND</button>
          <button class="clause-type">OR</button>
        </div>
        <div class="subclause">
          <div class="clause-sep"></div>
          <div class="title title-or">OR</div>
          <button class="clause-type">AND</button>
          <button class="clause-type">OR</button>
        </div>
        <div class="subclause">
          <div class="clause-sep"></div>
          <div class="title title-or">OR</div>
          <button class="clause-type">AND</button>
          <button class="clause-type">OR</button>
        </div>
        <div class="subclause">
          <div class="clause-sep"></div>
          <div class="title title-or">OR</div>
          <button class="clause-type">AND</button>
          <button class="clause-type">OR</button>
        </div>
      </div>
    </div>
    <div class="subclause">
      <div class="clause-sep"></div>
      <div class="title title-and">AND</div>
      <button class="clause-type">AND</button>
      <button class="clause-type">OR</button>
    </div>
  </div>
</div> -->

<div class="popover top">
	<table class="attributes">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><input type="text"> : </th>
          <th> <input type="text"></th>
          <th><a class="remove-icon" alt="Remover" title="Remover"></a></th>
        </tr>
        <tr>
          <th><input type="text"> : </th>
          <th> <input type="text"></th>
          <th><a class="remove-icon" alt="Remover" title="Remover"></a></th>
        </tr>
        <tr>
          <th><input type="text"> : </th>
          <th> <input type="text"></th>
          <th><a class="remove-icon" alt="Remover" title="Remover"></a></th>
        </tr>
        <tr>
          <th><input type="text"> : </th>
          <th> <input type="text"></th>
          <th><a class="remove-icon" alt="Remover" title="Remover"></a></th>
        </tr>
        <tr>
          <th><input type="text"> : </th>
          <th> <input type="text"></th>
          <th><a class="remove-icon" alt="Remover" title="Remover"></a></th>
        </tr>
        <tr>
          <th><input type="text"> : </th>
          <th> <input type="text"></th>
          <th><a class="remove-icon" alt="Remover" title="Remover"></a></th>
        </tr>
        <tr>
          <th><input type="text"> : </th>
          <th> <input type="text"></th>
          <th><a class="remove-icon" alt="Remover" title="Remover"></a></th>
        </tr>
        <tr>
          <th><input type="text"> : </th>
          <th> <input type="text"></th>
          <th><a class="remove-icon" alt="Remover" title="Remover"></a></th>
        </tr>
        <tr>
          <th><input type="text"> : </th>
          <th> <input type="text"></th>
          <th><a class="remove-icon" alt="Remover" title="Remover"></a></th>
        </tr>
      </tbody>
    </table>
</div>
